# data
data
!data/graham23
!data/obsplan
!data/skymaps

# tex output files
tex/figures/*
tex/output/*
tex/tables/*
!tex/figures/during_merger_240115.pdf
!tex/figures/MgII_fit.pdf
!tex/figures/Model_Fig.png
!tex/figures/S230922g_spectra.pdf

# pycache
**/__pycache__